<li class="active">Menu Sidebar</li>
<li><a href="">home</a></li>
<li><a href="">by class</a></li>
<li><a href="">by sex</a></li>
<li><a href="">by role</a></li>
<li>by stars</li>
  <li><a href="">5stars</a></li>
  <li><a href="">4stars</a></li>
  <li><a href="">3stars</a></li>
  <li><a href="">2stars</a></li>
  <li><a href="">1star</a></li>
<li>by GATYA</li>
<li><a href="">constant GATYA</a></li>
<li><a href="">limited GATYA</a></li>
<li><a href="">friend GATYA</a></li>
